{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Login | The Quiz Union{% endblock %}

{% block content %}

<div class="container pt-5">
	<div class="row">
		<div class="card col-12 col-md-6 m-auto">
		  <div class="card-body">
		  	<h5 class="card-title">
		  		Login To Start The Quiz

		  		<small class="pull-right text-primary d-md-none" onclick="demoLoginScroll()">
	          <a>login with demo user</a>
	        </small>
		  	</h5>
		  	<hr/>
			  <form method="post">
			    {% csrf_token %}
			    {{ form | crispy }}
			    <button class="btn btn-info" type="submit">Login</button>
			  </form>
			</div>

			<span class="text-muted">else, </span>
	    <a href="#">Sign Up</a>
	    <br/>
	    <span class="text-muted">forgot your password ? </span>
	    <a class="text-primary" href="{% url 'password_reset' %}">Reset here</a>
		</div>

		<div id="sampleLoginDiv" class="card col-6 col-md-3 mt-3 mt-md-0 offset-md-1" style="margin: auto">
      <h5 class="mb-3"><small>or,</small> Try A Demo User:</h5>

      <div class="container">
        <div class="row">
          <div class="demo-user col-12 col-md-12 text-center" onclick="location.href={% url 'demo_login' %}">
            <img src="{% static 'sherlock.jpg' %}" width="100" height="100" class="rounded"><br/><br/>
            <h5>Inspector</h5>
            <span class="text-muted">( Sherlock Holmes )</span>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>


{% endblock %}