{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<head>
	<title>Reset password</title>
</head>

<div class="container" style="min-height: 100vh">
	<form method="POST" class='col-lg-6 col-sm-12' style="margin:auto;">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				Reset Password			
			</legend>
			{{form|crispy}}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-success" type="submit">Request Password Reset</button>
		</div>
	</form>
	

</div>

{% endblock content %}