{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<head>
	<title>Change Password</title>
</head>

<div class="container" style="min-height: 100vh;">
	<h3 class="my-3 h3 text-left"><u>Change Password</u></h3>
	Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.

	<form class='col-lg-6 col-sm-12 my-5' method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			{{form|crispy}}
			<button type="submit" class="btn btn-primary">Change Password</button>
		</fieldset>
	</form>
</div>

{% endblock content %}